<div class="container-fluid">
	<div class="row top-black-band-data ">
		<label class="tab-space">Espanol | Contact Us | 123-456-789 </label>
	</div>

	<h1 class="top-logo-data">
		Manage Policies<br>Join the million of policy owners who are
		managing their accounts online!
	</h1>

	<div class="modal fade" id="forgot-password" tabindex="-1"
		role="dialog" aria-labelledby="modal-title">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Forgot your password</h4>
				</div>
				<div class="modal-body">
					<form>

						<p>To reset your password:</p>
						<ul>
							<li>Enter email below and click Reset Password</li>
							<li>Follow the link to reset password from your email</li>
						</ul>
						<p>
							If you need further assistance, please <u>contact customer
								service.</u>
						</p>

						<div class="form-group">
							<label for="recipient-name" class="control-label recipient-name">Email:</label>
							<input type="email" class="form-control" name="recipient-name"
								placeholder="example@email.com">
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default text-left-close"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary reset-password">Reset
						Password</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Sign In Box -->
	<div class="col-md-offset-3 col-md-3 col-md-sign col-xs-12">
		<h2 class="sign-in">Sign In</h2>
		<div class="form-horizontal">

			<div class="form-group">
				<label for="email" class="col-sm-2 col-md-2 col-xs-11 m-l-5">Email</label>
				<div class="col-sm-11 col-md-11 col-xs-11 m-l-5">
					<input type="email" class="form-control" id="email"
						placeholder="Email">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 col-md-2 col-xs-11 m-l-5">Password</label>
				<div class="col-sm-11 col-md-11 col-xs-11 m-l-5">
					<input type="password" class="form-control input-pwd"
						placeholder="Password">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12 col-md-12 col-xs-12">
					<label class="col-sm-7 col-md-8 col-xs-6 forgot-pwd">
					<a id="myBtn" data-toggle="modal" data-target="#forgot-password">Forgot Password? </a> Remember Me 
					</label>

					<div class="col-sm-3 col-md-3 col-xs-3 switch text-right">
						<input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round"
							type="checkbox"> <label for="cmn-toggle-1"></label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<button type="submit" class="cmn-btn btn btn-default1">LOGIN</button>
				</div>
			</div>
			<hr />
			<h4 class="btm-text">
				Create an Account
				<div class="Sign-up"></div>
				<u>Sign up to take advantage of your online benifits</u>
			</h4>
		</div>
	</div>

	<!-- Quick Pay Box -->
	<div class="col-md-quick-Pay col-md-3 col-md-sign col-xs-12">
		<h2>Quick Pay</h2>
		<h5>Pay your bill without sigining in</h5>

		<div class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-5 col-md-5 col-xs-11 m-l-5">Policy
					Number</label>
				<div class="col-sm-11 col-md-11 col-xs-11 m-l-5">
					<input class="input-email form-control" type="text" name="email"
						placeholder=" Policy Number" required="" autofocus="">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 col-md-5 col-xs-11 m-l-5 text-left">Date
					of Birth</label>
				<div class="col-sm-11 col-md-11 col-xs-11 m-l-5">
					<input class="dob input-email form-control" type="date"
						name="password" placeholder=" DD/MM/YYYY" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-5 col-md-5 col-xs-11 m-l-5">Zip Code</label>
				<div class="col-sm-11 col-md-11 col-xs-11 m-l-5">
					<input class="input-email make-payment form-control" type="number"
						name="password" placeholder=" Zip Code" required="">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<button type="submit" class="cmn-btn btn btn-default">MAKE
						A PAYMENT</button>
				</div>
			</div>

		</div>
	</div>
	<div class="col-md-3-right"></div>
</div>
<div class="copy-right">
	<h5>
		&#169; 2016 <span style="cursor: pointer;">Terms and Conditions
			| Privacy Policy </span>
	</h5>
</div>